.container {
  display: flex;
  justify-content: center;
  height: 899px;
  width: 100%;
  background-color: black;
  padding: 0 10% 175px 10%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1330px;
}

.button__box {
  display: flex;
  margin-right: 485px;
}

.button_big {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 158px;
  height: 39px;
  background: #D9283A;
  color: white;
  border-style: none;
  border-radius: 90px;
  cursor: pointer;
}

.button_small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background: #D9283A;
  color: white;
  border-style: none;
  border-radius: 90px;
  cursor: pointer;
}

.description {
  width: 262px;
  height: 148px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin: auto;
}

.description__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 1280px;
  height: 39px;
  margin-bottom: 50px;
}

.description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 95%;
  width: 384px;
  height: 38px;
  color: white;
  text-transform: uppercase;
  margin-right: auto;
}

.slide_1 {
  display: flex;
  flex-direction: column;
  width: 302px !important;
  height: 561px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.slide_2 {
  display: flex;
  flex-direction: column;
  width: 302px !important;
  height: 561px;
  color: white;
  margin-top: 62px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.slide_box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 302px;
  height: 531px;
  border: 2px solid #F2F2F2;
  margin-top: 13px;
}

.swiper {
  height: 623px;
  width: 100%;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0 20px;
  height: 27px;
  border: 1px solid #FFFFFF;
  border-radius: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}