.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  width: 100%;
  list-style: none;
  background-color: black;
  gap: 30px;
  padding: 70px 10% 34px 10%;
  margin: 0;
  height: 445px;
  width: 100%;
  font-family: 'Neue Machina';
}

.footer__navigate__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;

}

.footer__navigate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navigate {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Neue Machina';
}

.navigate__icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14.47px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Neue Machina';
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430.99px;
  min-width: 1280px;
  background-color: black;
  margin-bottom: 145px;
}

.link {
  text-decoration: none;
  max-width: 219px;
  width: 100%;
}

.picture {
  margin-bottom: 33px;
}

.subtitle {
  width: 197px;
  height: 38px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 18px;
}

.title {
  width: 288px;
  height: 69px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 98%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text {
  width: 100%;
  font-family: 'Inter';
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: #F2F2F2;
  opacity: 0.6;
  text-transform: uppercase;
  transition: 1s;
}

.text:hover {
  opacity: 1;
}

.text__ticker {
  font-family: 'Inter';
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: #F2F2F2;
  opacity: 0.6;
  text-transform: uppercase;
}