.container__aero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  width: 100%;
  background: center / contain no-repeat url(aerospace.png);
  color: white;
}

.container__vanguard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  width: 100%;
  background: no-repeat 138% 102%/69% url(galaxy.png);
  color: white;
}

.news__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 350px;
  border: 2px solid #F2F2F2;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.title__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  height: 200px;
  width: 60%;
  margin: 0;
}

.title__box p,
h4 {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin: 0;
}

.title__box p {
  font-size: 52px;
}

.title__card {
  padding: 15px 15px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  margin: 0;
  color: white;
}